<!-- About page content -->
<a name="about"></a>
<div class="content-section-a">
  <div class="bg-overlay2">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="clearfix"></div>

          <h2 class="section-heading pull-right"> Who's this guy?
            <span class="fa fa-hand-o-right fa-2x pull-right"></span>
          </h2>
          </br></br>
          <p class="lead pull-left">His name is Thomas Manchester, and he's a pretty cool dude. So cool, in fact, that he refers to himself in the third person on his own website. Here's some stuff this guy has done or is doing.
          </p>
          </br>
          <p class="pull-left">
          I'm currently learning automation frameworks (Appium and Protractor) in order to write scripts to do unit testing for my company. I am utilizing Node.js and a few libraries for promises, etc.
          </p>
          </br>
          <p class="pull-left">
          I also make music! My current forays are into hip-hop, rap, and learning to produce high quality music. I use Logic Pro X for all of my recording and productions.
          </p>
          </br>
          <p class="pull-left">
          I am also an avid reader and writer. In my blog, you'll find anything from coding tutorials to neuroscience research to book reviews. Few things fascinate me as much as the brain, and computers have given me an insight into logical thinking I never really appreciated before (more on that in my blog).
          </p>
          </br>

          <p class="pull-left">
          Check out my social network accounts for more examples of my work, the technologies I have learned or am learning, and even just what's on my mind today!
          </p>
        </div>
        <div class="col-md-5">
          <div class="circleprofile">
          </div>
        </div>
      </div>
    </div
  </div>
</div>
