<a name="#blog"></a>
<div id="blog-page" ng-controller="mainCtrl">
  <div class="row">
    <div class="col-md-4">
      <h2 class="text-center blog-title">Code, Computers, and Cats</h2>
      <h4 class="subtitle text-center codepen-fonts-1">My Adventures in Learning Web Development</h4>
    </div>
  <div class="col-md-4">
    <h2 class="text-center blog-title">Feelin Trippy in Mississippi</h2>
    <h4 class="subtitle text-center codepen-fonts-1">Personal Blog</h4>
  </div>
  <div class="col-md-4">
    <h2 class="text-center blog-title">The Brain<h2>
    <h4 class="subtitle text-center codepen-fonts-1">A User's Guide</h4>
  </div>
</div>

  <div class="row">
    <div class="col-md-4 left-blog blogposts">
    </div>
    <div class="col-md-4 center-blog blogposts" ng-model="blogdata">
    <div ng-repeat="post in blogdata"
      <h1> {{ post.title }} </h1>
    </div>
    <!-- This shit aint working... -->

      <!--Blog posts will go here, use controller for API, ng-repeat posts-->

    </div>
    <div class="col-md-4 right-blog blogposts">
    </div>
  </div>
</div>

