

<div class="cover-page">
<div class="inner cover">
  <div class="row">
        <h1 class="cover-heading">META - </h1>
  </div>
  <div class="row lead">


        <div class="col-md-12 text-left marginBot">
        <ol id="definitions">
          <li>concerned with the concepts and results of the named discipline
          </li>
          <li><span class="seconddef">a Greek prefix used to describe the attached word in a higher sense of thought
            </span></li>
            <li><span class="thirddef">a prefix added to the name of something that consciously references or comments upon its own subjects or features
              </span> </li>
        </ol>
        </div>


      </div>

      <div class="row">
        <p class="lead coverpagebutton">
        <a ng-click="revealNavbar()" href="#home" class="btn btn-lg btn-default">Enter</a>
        </p>
      </div>
      </div>

    </div>

  </div>

</div>

</div>
