<div class="container imposible-page">
  <div class="row">
     <div class="col-md-6 pull-right">
       <div class="title">
         <h2>This is my Impossible List
         </h2>
       </div>
       <div class="description">
       <p class="lead">Many people have bucket lists, but few have impossible lists. I got the idea after reading <a href="http://collegeinfogeek.com/about/meet-the-author/my-impossible-list/">this article</a> and after reading the original creator's description (found <a href="http://impossiblehq.com/impossible-list/">here</a>), I decided I would make my own impossible list.</p>
       <p class="quote"><i class="fa fa-quote-left fa-2x fa-pull-left"></i>   Most people overestimate what they can do in one year and underestimate what they can do in ten years.  <i class="fa fa-quote-right fa-2x"></i></p>
       <h4 class="pull-right"> - Bill Gates</h4>
       </div>
       <br>
       <div class="statement">
       <p>My personal philosophy is that each of us are given a lifetime to do whatever it is our heart tells us we need to do, experience as much of what we can that life has to offer, and to try and make a positive impact on the rest of the world. I view this list as a tentative, ever-growing, and above all else - a personal guide to how I plan on living the way I see that life should be lived.
       </p>
       </div>

  </div>

    <div class="col-md-6">
      <div class="impossible-list pull-left">
        <br>
        <div class="list">
          <h4>Overall</h4>
          <p>1. Be Happy</p>
        </div>
      </div>
    </div>
   </div>
</div>
