<div class="jumbotron jumbo-about" id="portfolio">
   <h2 class="header">Programs and Projects</h2>
   <div class="row">
     <div class="col-xs-4">
       <p data-height="365" data-theme-id="0" data-slug-hash="JYOYPE" data-default-tab="result" data-user="Eruditious" class='codepen'>See the Pen <a href='http://codepen.io/Eruditious/pen/JYOYPE/'>JYOYPE</a> by Thomas Manchester (<a href='http://codepen.io/Eruditious'>@Eruditious</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>


     </div>
     <div class="col-xs-4">
       <p data-height="408" data-theme-id="0" data-slug-hash="epExgO" data-default-tab="result" data-user="Eruditious" class='codepen'>See the Pen <a href='http://codepen.io/Eruditious/pen/epExgO/'>epExgO</a> by Thomas Manchester (<a href='http://codepen.io/Eruditious'>@Eruditious</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>
    </div>
     <div class="col-xs-4">

     </div>
 </div>
