<a name="#portfolio"></a>
<div class="jumbotron jumbo-about portfolio-header" id="portfolio">
   <h1 class="header">Programs and Projects</h1>
 </div>
 <div class="container-fluid showcase">
   <div class="row">
     <div class="col-xs-4">
       <div class="itembox">
        <div class="article">
          <a href="http://codepen.io/Eruditious/pen/JYOYPE/" target="_blank"><img class="img-responsive" src="../images/quotemachinecode.png"></a>
        </div>
          <div class="caption">
              <h2 class="project-title">Quote Generator</h2>
              <p>"Something witty"</p>
          </div>
        </div>
     </div>
     <div class="col-xs-4">
       <div class="itembox">
       <div class="article">
         <a href="http://codepen.io/Eruditious/pen/epExgO/" target="_blank"><img class="img-responsive" src="../images/timerpic.png"></a>
       </div>
       <div class="caption">
         <h2 class="project-title">Pomodoro Clock</h2>
         <p>Kill your time wasting habits!</p>
       </div>

       </div>
      </div>

      <div class="col-xs-4">
        <div class="itembox">
        <div class="article">
        </div>

          <div class="caption">
          <h2 class="project-title">NearMe</h2>
          <p>Simple map app made with AngularJS</p>
        </div>
        </div>
      </div>
  </div>
</div>
